# Created by .ignore support plugin (hsz.mobi)
/url-shorting-tool.iml
/server/server.iml
/client/client.iml
/npm-debug.log
.idea/*
!.idea/vcs.xml
!.idea/compiler.xml
!.idea/runConfigurations
!.idea/dataSources.xml
!.idea/modules.xml