<form>
  <h1>{{user.login}}</h1>
  <button class="btn btn-primary btn-lg fixed-bottom" *ngIf="!isAdding" (click)="this.isAdding = true;">Add new link
  </button>

  <table class="table table table-striped table-bordered">
    <thead>
    <tr>
      <th width="6%">
        Shorted url
      </th>
      <th width="25%">
        Original url
      </th>
      <th width="5%">
        Clicks count
      </th>
      <th width="10%">
        Summary
      </th>
      <th width="9%">
        Creation date
      </th>
      <th width="10%">
        Tags
      </th>
      <th width="6%">
      </th>
      <th width="6%">
      </th>
    </tr>
    </thead>
    <tr class="fixed-bottom bg-primary" *ngIf="isAdding">
      <td>
      </td>
      <td>
        <label>Link</label>
        <input [(ngModel)]="addingLink.originalLink" name="originalLinkCreator">
      </td>
      <td>

      </td>
      <td>
        <label>Summary</label>
        <input [(ngModel)]="addingLink.summary" name="summaryCreator">
      </td>

      <td>
      </td>
      <td>
        <label class="">Tags(use space as delimeter)</label>
        <input [(ngModel)]="addingLink.tags" name="tagsCreator">
        <button class="btn btn-danger" *ngIf="isAdding" (click)="cancelAdding()">Cancel</button>
        <button class="btn btn-success" *ngIf="isAdding"
                (click)="addLink(user.userId,addingLink);isAdding=false">Submit
        </button>
      </td>
    </tr>
    <tr *ngFor="let link of user.links">
      <td>
        <a class="text-primary"
           (click)="redirectToUrl(link.shortLink)">{{link.shortLink}}
        </a>
      </td>
      <td>
        <a class="text-primary" href={{link.originalLink}}>{{link.originalLink}}</a>
      </td>
      <td>
        {{link.clicksCount}}
      </td>
      <td>
        <label *ngIf="!link.isEditing">{{link.summary}}</label>
        <input *ngIf="link.isEditing" [(ngModel)]="link.summary" name="summaryEditor">
      </td>
      <td>
        {{link.creationDate}}
      </td>
      <td>
        <div *ngIf="!link.isEditing">
          <div *ngFor="let tag of link.tags.split(' ')">
            <a (click)="showLinksWithSameTag(tag)">{{tag}}</a>
          </div>
        </div>
        <input *ngIf="link.isEditing" [(ngModel)]="link.tags" name="tagsEditor">
      </td>
      <td>
        <button class="btn btn-outline-success" *ngIf="!link.isEditing"
                (click)="startEditing(link);link.isEditing=true;">Edit
        </button>
        <button class="btn btn-outline-danger" *ngIf="link.isEditing"
                (click)="cancelEditing(link);link.isEditing=false">Cancel
        </button>
        <button class="btn btn-outline-success" *ngIf="link.isEditing"
                (click)="editLink(user.userId,link);link.isEditing=false">Submit
        </button>
      </td>
      <td>
        <button class="btn btn-outline-danger" (click)="removeLink(link.linkId)">Delete</button>
      </td>
    </tr>
  </table>
</form>
