<form>
  <h1>{{user.login}}</h1>
  <table border="1">
    <tr>
      <th>
        Shorted url
      </th>
      <th>
        Original url
      </th>
      <th>
        Clicks count
      </th>
      <th>
        Summary
      </th>
      <th>
        Creation date
      </th>
      <th>
        Tags
      </th>
    </tr>
    <tr *ngFor="let link of user.links">
      <td>
        <a class="text-primary"
           (click)="redirectToUrl(link.shortLink)">{{link.shortLink}}
        </a>
      </td>
      <td>
        <a class="text-primary" href={{link.originalLink}}>{{link.originalLink}}</a>
      </td>
      <td>
        {{link.clicksCount}}
      </td>
      <td>
        <label *ngIf="!link.isEditing">{{link.summary}}</label>
        <input *ngIf="link.isEditing" [(ngModel)]="link.summary" name="summaryEditor">
      </td>
      <td>
        {{link.creationDate}}
      </td>
      <td>
        <div *ngIf="!link.isEditing">
          <div *ngFor="let tag of link.tags.split(' ')">
            <a (click)="showLinksWithSameTag(tag)">{{tag}}</a>
          </div>
        </div>
        <input *ngIf="link.isEditing" [(ngModel)]="link.tags" name="tagsEditor">
      </td>
      <td>
        <button *ngIf="!link.isEditing" (click)="link.isEditing=true">Edit</button>
        <button *ngIf="link.isEditing" (click)="editLink(user.userId,link);link.isEditing=false">Submit</button>
      </td>
      <td>
        <button (click)="removeLink(link.linkId)">Delete</button>
      </td>
    </tr>
    <tr *ngIf="isAdding">
      <td>

      </td>
      <td>
        <label>Link</label>
        <input [(ngModel)]="addingLink.originalLink" name="originalLinkCreator">
      </td>
      <td>

      </td>
      <td>
        <label>Summary</label>
        <input [(ngModel)]="addingLink.summary" name="summaryCreator">
      </td>

      <td>
      </td>
      <td>
        <label>Tags(user space as delimeter)</label>
        <input [(ngModel)]="addingLink.tags" name="tagsCreator">
      </td>
    </tr>
    <button *ngIf="!isAdding" (click)="clickAddLinkButton()">Add new link</button>
    <button *ngIf="isAdding" (click)="addLink(user.userId,addingLink);isAdding=false">Submit</button>
  </table>
</form>
