<div infinite-scroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="500"
     [infiniteScrollDisabled]="isInCompleted"
     (scrolled)="isInCompleted=true;loadLinks()">

  <table border="1">
    <tr>
      <th>
        Shorted url
      </th>
      <th>
        Original url
      </th>
      <th>
      </th>
    </tr>
    <tr *ngFor="let link of links">
      <td>
        <a class="text-primary"
           (click)="redirectToUrl(link.shortLink)">{{link.shortLink}}
        </a>
      </td>
      <td>
        <a class="text-primary" href={{link.originalLink}}>{{link.originalLink}}</a>
      </td>
      <td>
        <button (click)="showDetails(link.linkId)">Show details</button>
      </td>
    </tr>
  </table>
</div>
<router-outlet></router-outlet>
