<table border="1">
  <tr>
    <th>
      Shorted url
    </th>
    <th>
      Original url
    </th>
    <th>
      Creation date
    </th>
    <th>
      Summary
    </th>
    <th>
      Tags
    </th>
  </tr>
  <tr>
    <td>
      <a class="text-primary" (click)="redirectToUrl(currentLink.shortLink)">{{currentLink.shortLink}}</a>
    </td>
    <td>
      <a class="text-primary" href="{{currentLink.originalLink}}">{{currentLink.originalLink}}</a>
    </td>
    <td>
      {{currentLink.summary}}
    </td>
    <td>
      {{currentLink.creationDate}}
    </td>
    <td>
      <div *ngFor="let tag of currentLink.tags.split(' ')">
        <a class="text-primary" (click)="showLinksWithSameTag(tag)">{{tag}}</a>
      </div>
    </td>
  </tr>
</table>
<button (click)="goBack()">Back</button>
