<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<form class="loginForm">
  <div class="container center-block">
    <div class="row">
      <div class="col-md-offset-5 col-md-3">
        <div class="form-login">
          <input type="text" id="RegisterUserName" class="form-control input-sm chat-input" placeholder="username"
                 required
                 name="login"
                 [(ngModel)]="loginAndPassword.login"/>
          <br>
          <input type="password" id="RegisterUserPassword" class="form-control input-sm chat-input" placeholder="password"
                 name="pass"
                 id="passwordField"
                 [(ngModel)]="loginAndPassword.password"/>
          <br>
          <div class="radio">
            <label><input (click)="adminSelected=false;loginAndPassword.serialNumber=''" type="radio"
                          name="optradio">User</label>
          </div>
          <div class="radio">
            <label><input (click)="adminSelected=true;" type="radio" name="optradio">Admin</label>
          </div>
          <div class="wrapper">
            <div *ngIf="adminSelected">
              <label>Serial Number</label>
              <input type="password" name="serialNumberInput" [(ngModel)]="loginAndPassword.serialNumber">
            </div>
            <span class="group-btn">
               <button class="btn btn-primary btn-md" (click)="registerUser()">Register</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spinnerContainer">
    <spinner class="spinner" *ngIf="spinnerOn" [tickness]="3" [size]="100"></spinner>
  </div>
</form>

