<div class="statistic-header">
  Global statistic
</div>
<div class="statistic-content">
  Deleted links count : {{statistic.deletedLinksCount}}
  <br/>
  Created links count : {{statistic.createdLinksCount}}
  <br/>
  Created accounts : {{statistic.registeredUsersCount}}
  <br/>
  Registered users : {{statistic.registeredUsersCount}}
  <br/>
  Administrators: {{statistic.administratorAccountsAmount}}
  <br/>
  Total Clicks : {{statistic.totalClicksCount}}
  <br/>
  <!--public topUserId: number){-->

</div>

